

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#contact {
    text-align: center;
}

h1, h2, h3 {
  margin: 20px;
}

h1 {
    text-align: center;
}

IMG.paulus {
    animation: fadeIn 4s;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

ul, ol, li, dl, dt, dd {
  display: block;
  padding: 0;
    margin-left: 30px;
}

li {
  display: list-item; 
}

body {
  background: white;
}

footer {
    animation: fadeIn 4s;
    text-align: right;
    border-top: 1px groove black;
}

p {
    margin-left: 20px;
    margin-right: 20px;
}


.fade-in {
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}